@font-face {
    font-family: 'Agrandir Grand';
    src: url('Agrandir-GrandLight.eot');
    src: url('Agrandir-GrandLight.eot?#iefix') format('embedded-opentype'),
        url('Agrandir-GrandLight.woff2') format('woff2'),
        url('Agrandir-GrandLight.woff') format('woff'),
        url('Agrandir-GrandLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Agrandir Grand';
    src: url('Agrandir-GrandHeavy.eot');
    src: url('Agrandir-GrandHeavy.eot?#iefix') format('embedded-opentype'),
        url('Agrandir-GrandHeavy.woff2') format('woff2'),
        url('Agrandir-GrandHeavy.woff') format('woff'),
        url('Agrandir-GrandHeavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Agrandir Wide';
    src: url('Agrandir-WideBlackItalic.eot');
    src: url('Agrandir-WideBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Agrandir-WideBlackItalic.woff2') format('woff2'),
        url('Agrandir-WideBlackItalic.woff') format('woff'),
        url('Agrandir-WideBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Agrandir Wide';
    src: url('Agrandir-WideLight.eot');
    src: url('Agrandir-WideLight.eot?#iefix') format('embedded-opentype'),
        url('Agrandir-WideLight.woff2') format('woff2'),
        url('Agrandir-WideLight.woff') format('woff'),
        url('Agrandir-WideLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Agrandir';
    src: url('Agrandir-Regular.eot');
    src: url('Agrandir-Regular.eot?#iefix') format('embedded-opentype'),
        url('Agrandir-Regular.woff2') format('woff2'),
        url('Agrandir-Regular.woff') format('woff'),
        url('Agrandir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Agrandir';
    src: url('Agrandir-ThinItalic.eot');
    src: url('Agrandir-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Agrandir-ThinItalic.woff2') format('woff2'),
        url('Agrandir-ThinItalic.woff') format('woff'),
        url('Agrandir-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Agrandir';
    src: url('Agrandir-TextBold.eot');
    src: url('Agrandir-TextBold.eot?#iefix') format('embedded-opentype'),
        url('Agrandir-TextBold.woff2') format('woff2'),
        url('Agrandir-TextBold.woff') format('woff'),
        url('Agrandir-TextBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Agrandir Narrow';
    src: url('Agrandir-Narrow.eot');
    src: url('Agrandir-Narrow.eot?#iefix') format('embedded-opentype'),
        url('Agrandir-Narrow.woff2') format('woff2'),
        url('Agrandir-Narrow.woff') format('woff'),
        url('Agrandir-Narrow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Agrandir Tight';
    src: url('Agrandir-Tight.eot');
    src: url('Agrandir-Tight.eot?#iefix') format('embedded-opentype'),
        url('Agrandir-Tight.woff2') format('woff2'),
        url('Agrandir-Tight.woff') format('woff'),
        url('Agrandir-Tight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

