
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 20px;
}

html{
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: #bdbdbd;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

header {
    width: 100%;
    background-color: rgba(255, 255,255, 0.5);

    background-image: url('/img/eduardo.jpg');
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header div {
    margin: auto;
    display: grid;
    grid-template-columns: 1.1fr 1.5fr;
    align-items: start;
    max-width: 65rem;
    color: white;
    height: 220px;
    width: 100%;
}

header button {
    /* Botão Whastapp */
    background-color: #25d366;
    color: rgb(36, 36, 36);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.btn-whatsapp{

    background-color: #25d366;
    color: rgb(36, 36, 36);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;

    transition: all 0.3s;
    z-index: 999999999999;
}
.btn-whatsapp:hover{
    scale: 1.1;
}

@keyframes pulsar {
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 50px rgba(0, 175, 83, 0);
    }
    100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(0, 175, 83, 0);
    }
}
.pulse-button{
    position: fixed;
    bottom: 20px;
    right: 50px;
    margin-left: -50px;
    margin-top: -50px;
    display: block;
    width: 70px;
    height: 70px;
    font-size: 1.3em;
    font-weight: light;
    text-align: center;
    line-height: 80px;
    letter-spacing: -1px;
    color: white;
    border: none;
    border-radius: 50%;
    background: #00af53;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(0, 175, 83, 0.5);
    -webkit-animation: pulsar 1.5s infinite;
    z-index: 999999999999;
}

nav {
    width: 100%;
    height: 50px;
}

nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

nav ul li {
    list-style: none;
    font-weight: 500;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    font-weight: 600;
}





/* primeira sessão H1 */
section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 65rem;
    margin: auto;
    min-height: 380px;
}
section div p:last-child {
    font-size: 14px;
}

/* Reset do H1 para os demais sections*/
section {
    padding: 5rem 0;
}
section div {
    flex: 1;
    height: 100%;
}


/* Sessao nossos serviços*/
#servicos {
    background-color: #161616;
}
#servicos h2 {
color: white;
}
.card_servico{
    transition: all 0.3s;
    background-color: #f3f3f3 !important;
    border: 2px solid #570f0d;
}
.card_servico img {
    user-select: none;
}
.card_servico:hover{
    scale: 1.01;
    background-color: white !important;
}
/* Sessão Sobre*/
section:nth-child(4) {
    background-color: #9b9b9b;
    min-height: 100vh;

    background-image: url('/img/eduardo-header.png'), url('/img/sobre-background.jpg');
    background-size: contain, cover;
    background-position: center right, center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
section:nth-child(4) * {
    color: white;
}
#sobre{
    position: relative;
}
#textsobre{
    background: rgba(0, 0, 0, 0.8);
    padding: 2em;
    width: 30%;
    height: auto;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
}

/* Sessão Contato*/
section:nth-child(6) {
    background-color: #9b9b9b;
    min-height: 100vh;
}

/* Footer */
footer {
    width: 100%;
    background-color: white;
}
footer section {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
    gap: 10px;
    max-width: 65rem;
    padding-bottom: 0;
}

footer section nav {
    height: auto;
}
footer section nav ul {
    flex-direction: column;
    align-items: top;
    direction: ltr;
    gap: 30px;
}
footer section nav ul li {
    display: block;
    width: 100%;
}
footer section nav ul li a{
    color: black;
}

footer hr {
    width: 50%;
    margin: auto;
}

footer > p:last-child{
    padding: 30px;
    text-align: center;
    user-select: none;
}


footer > p:last-child a {
    filter: grayscale(.5);
    text-decoration: none;
}
footer > p:last-child a:hover {
    filter: grayscale(0);

}
iframe {
    width: 100%;
    border: none;
}

ul li{
    font-size: 0.9em;
    font-weight: 400;
    list-style: square;
}

.card_servico{
    background-color: white;
    border-radius: 7px;
    padding:45px 50px;
    min-height: 400px;
}
.card_servico h3 {
    display: block;
    width: 100%;
    text-align: center;
}

.container-flex{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
	margin: 0 auto;
}
.container-flex div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 65rem;
    margin: auto;
    min-height: 360px;
    font-size: 16px;
    width: 100%;
}

@media screen and (max-width: 768px) {

    * {
        line-height: 1.5rem;
    }

    .container-flex{
        flex-direction: column;
    }
    section{
        padding: 5rem 1rem;
    }
    section div {
        margin: 0;
        min-height: 330px;
    }

    h1 {
        font-size: 1.5rem;
    }
    header{
        background-position: 79%;
    }
    header div {
        height: 9.5rem;
        padding-left: 1rem;
        grid-template-columns: 1.4fr 1fr;
    }
    #textsobre{
        width: 90%;
        left: 5%;
    }
    header button {
        margin: 14px 0;
    }

    section{
        padding: 5rem 1rem;
    }

    footer iframe {
        width: 100%;
    }
    footer section{
        flex-direction: column;
    }
    footer section nav ul {
        gap: 17px;
    }


    section:nth-child(4) {
        background-color: #9b9b9b;
        min-height: 100vh;
        background-image: url('/img/eduardo-header.png'), url('/img/sobre-background.jpg');
        background-position: bottom right, center;
    }
}
